/* Whole page black */
.backend-container {
  background-color: #000;
  min-height: 100vh;
  color: white;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #111;
  border-bottom: 1px solid #333;
  position: sticky;
  top: 0;
  z-index: 100;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.back-button a{
  color: #666666;
}

.navbar-left h2 {
  color: #61fbcd;
  margin: 0;
  font-size: 24px;
  font-weight: bold;

}

.navbar-right .nav-btn {
  background-color: #3640f4;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.navbar-right .nav-btn:hover:not(.connected) {
  background-color: #d32f2f;
}

.navbar-right .nav-btn.connected {
  background-color: #61dafb;
  color: #000;
  cursor: default;
}

/* Wallet not connected warning */
.connect-warning {
  text-align: center;
  margin-top: 80px;
  font-size: 18px;
  color: #ff5555;
}



/* FileUpload container adjustments */
.top {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.form {
  display: flex;
  align-items: center;
  background-color: #111;
  padding: 60px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.choose {
  background-image: linear-gradient(90deg, #5aff15, #00b712);
  border-radius: 10px;
  color: #ffffff;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 15px;
  transition: all 0.2s ease-in-out;
}

.choose:hover {
  box-shadow: 0 4px 12px rgba(253, 76, 0, 0.5);
}

.textArea {
  color: #ffffff;
  margin-right: 15px;
  font-weight: 500;
}

.upload {
  border: 1px solid #13aa52;
  background-color: #13aa52;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.upload:hover:enabled {
  background-color: #a5efc1;
  color: #000;
}

.upload:disabled {
  border: 1px solid #999999;
  background-color: #333333;
  color: #666666;
  cursor: not-allowed;
}