body {
  padding: 0px;
  margin: 0px;
  /* padding-top: 70px; */
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 150px 0px 150px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;

  /* ✅ Center the navbar perfectly */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  z-index: 1000; /* keeps navbar above everything */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Navbar .logo {
  display: flex;

  align-items: center;
}

.Navbar .logo img {
  height: 70px;
  width: 70px;
}

.Navbar .logo h1 {
  font-size: 30px;
  background: linear-gradient(to right, #2563eb, #9333ea);
  -webkit-background-clip: text; /* Safari/Chrome */
  background-clip: text; /* Standard */
  color: transparent;
  margin: 12px 0px 12px 0px;
}

.Navbar .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.Navbar .navigation .nav-btn {
  font-size: 16px;
  color: rgb(111, 109, 109);
}

.Navbar .navigation button {
  padding: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.launch-btn {
  background: linear-gradient(to right, #3b82f6, #a855f7);
  border: none;
  color: white !important;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
  padding: 7px;
}

.launch-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
